<ion-content [fullscreen]="true" class="comprovante-content" [forceOverscroll]="false">
  <div class="cp-wrap">
    <div class="cp-sheet">
      <header class="cp-toolbar">
        <div class="cp-toolbar-start">
          <button type="button" class="cp-back tap-highlight-none" (click)="goBack()" aria-label="Voltar">
            <img
              src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/CaretLeft-06827afa-59d9-4e0e-aa5d-8811d10f0f51.svg"
              alt=""
            />
          </button>
        </div>
        <h1>Detalhes da transação</h1>
        <div class="cp-toolbar-end" aria-hidden="true"></div>
      </header>

      <div class="cp-hero">
        <img
          class="cp-success-img"
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1%2Fc34a3ebe-179d-4e58-8c59-d82cdbaa7de6.png"
          alt=""
        />
        <p class="cp-success-title">{{ successHeroTitle }}</p>
        <p class="cp-success-date">{{ receiptSubtitle }}</p>

        <div class="cp-actions-row">
          <button type="button" class="cp-btn cp-btn-primary tap-highlight-none" (click)="onShare()">
            <img
              src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Export-63fe8722-8176-4139-8421-bdefb4f4a5dd.svg"
              alt=""
            />
            <span>Compartilhar</span>
          </button>
          <button
            type="button"
            class="cp-btn cp-btn-outline tap-highlight-none"
            (click)="onSendByEmail()"
            aria-label="Enviar comprovante por e-mail"
          >
            <ion-icon name="mail-outline" class="cp-btn-mail-icon" aria-hidden="true"></ion-icon>
            <span>Enviar</span>
          </button>
        </div>
      </div>

      <img
        class="cp-line-hero"
        src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Line255-fb33c997-e903-4307-b30e-0935d94f67ab.svg"
        alt=""
      />

      <section class="cp-amount-block">
        <div class="cp-amount-row">
          <span class="cp-amount-minus">-</span>
          <span class="cp-amount-rs">R$</span>
          <span class="cp-amount-value">{{ amountDisplay }}</span>
        </div>
        <p class="cp-beneficiary-line">{{ beneficiaryName }}</p>
        <img
          class="cp-row-divider"
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Line249-a8c5191e-f77c-4db9-9383-ea8654a6f1ad.svg"
          alt=""
        />
      </section>

      <section class="cp-detail-row cp-detail-padded" *ngIf="transferKind !== 'boleto'">
        <span class="cp-label">Instituição</span>
        <div class="cp-institution-row">
          <span class="cp-value">{{ beneficiaryBank }}</span>
          <div class="cp-bank-avatar" aria-hidden="true">
            <span class="cp-bank-short">{{ beneficiaryBankShort }}</span>
          </div>
        </div>
        <img
          class="cp-row-divider"
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Line249-892e7e2c-85b0-4fa3-97dc-5a12e3f29a46.svg"
          alt=""
        />
      </section>

      <section class="cp-detail-row cp-detail-padded">
        <span class="cp-label">Documento do Beneficiário</span>
        <span class="cp-value">{{ documentMasked }}</span>
        <img
          class="cp-row-divider"
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Line249-fe2a3dd5-cbd6-497f-8099-0c0c79bddd4f.svg"
          alt=""
        />
      </section>

      <section class="cp-detail-row cp-detail-padded">
        <span class="cp-label">Tipo de Transação</span>
        <span class="cp-value cp-value-brand">{{ transactionType }}</span>
        <img
          class="cp-row-divider"
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Line249-fc7eaed9-d920-4650-8b54-8d85fdec68fb.svg"
          alt=""
        />
      </section>

      <section class="cp-detail-row cp-detail-padded">
        <span class="cp-label">ID da Transação</span>
        <span class="cp-value cp-value-wrap">{{ transactionId }}</span>
        <img
          class="cp-row-divider"
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Line249-69791452-1a56-4461-bdc8-cc564a621b23.svg"
          alt=""
        />
      </section>

      <section class="cp-detail-row cp-detail-padded" *ngIf="transferKind === 'boleto'">
        <span class="cp-label">ID da operação</span>
        <span class="cp-value cp-value-wrap">{{ boletoOperationId }}</span>
        <img
          class="cp-row-divider"
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Line249-69791452-1a56-4461-bdc8-cc564a621b23.svg"
          alt=""
        />
      </section>

      <section class="cp-detail-row cp-detail-padded">
        <span class="cp-label">{{ identifierFieldLabel }}</span>
        <div
          class="cp-identifier-row"
          [class.cp-identifier-row--boleto]="transferKind === 'boleto'"
        >
          <span
            class="cp-value cp-value-wrap"
            [class.cp-value-boleto-linha]="transferKind === 'boleto'"
            >{{ identifier }}</span>
          <ion-spinner
            *ngIf="identifierPending"
            class="cp-inline-spinner"
            name="crescent"
            aria-hidden="true"
          ></ion-spinner>
        </div>
        <img
          class="cp-row-divider"
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Line249-0c5ae9b8-e108-46ac-91dd-a999bc276fc7.svg"
          alt=""
        />
      </section>

      <section class="cp-detail-row cp-detail-padded">
        <span class="cp-label">Estatus</span>
        <div class="cp-status-row">
          <ion-spinner
            *ngIf="statusIconIsPending"
            class="cp-status-spinner"
            name="crescent"
            aria-hidden="true"
          ></ion-spinner>
          <img
            *ngIf="statusIconIsCheck"
            src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/CheckCircle-c2d4b97a-fcb5-4309-8462-7269e7880940.svg"
            alt=""
          />
          <ion-icon
            *ngIf="statusIconIsTimeout"
            class="cp-status-wait-icon"
            name="time-outline"
            aria-hidden="true"
          ></ion-icon>
          <ion-icon
            *ngIf="statusIconIsError"
            class="cp-status-error-icon"
            name="alert-circle-outline"
            color="warning"
            aria-hidden="true"
          ></ion-icon>
          <span class="cp-value cp-value-brand">{{ statusText }}</span>
        </div>
        <img
          class="cp-row-divider"
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Line249-ec98076a-c3ce-4e7f-8c64-05fab8f981d2.svg"
          alt=""
        />
      </section>

      <p class="cp-more-actions">Mais ações</p>

      <button
        type="button"
        class="cp-list-action tap-highlight-none"
        *ngIf="transferKind === 'pix'"
        (click)="onRepeatTransaction()"
      >
        <img
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Frame427319595-813473d5-8bf2-4c2c-ac0c-ec63d39101db.svg"
          alt=""
        />
        <div class="cp-list-action-text">
          <span class="cp-list-action-title">Repetir transação</span>
          <span class="cp-list-action-sub">Realizar esse pagamento novamente</span>
        </div>
        <img
          class="cp-list-caret"
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/CaretRight-b4a758e8-777c-4ea2-9f6d-d2903112c142.svg"
          alt=""
        />
      </button>

      <button type="button" class="cp-list-action tap-highlight-none" (click)="onReportTransaction()">
        <img
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Frame427319595-cede32b7-8f55-4fb7-a00b-ec4a3b3c4e6e.svg"
          alt=""
        />
        <div class="cp-list-action-text">
          <span class="cp-list-action-title">Reportar transação</span>
          <span class="cp-list-action-sub">Reportar ou contestar esse pagamento</span>
        </div>
        <img
          class="cp-list-caret"
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/CaretRight-66d43c03-325e-483b-b54e-f8d52c239477.svg"
          alt=""
        />
      </button>
    </div>
  </div>
</ion-content>

<ion-modal
  #transferPwdModal
  class="transfer-pwd-sheet"
  [isOpen]="transferPasswordSheetOpen"
  [initialBreakpoint]="0.48"
  [breakpoints]="[0, 0.48, 0.6]"
  handle="true"
  [backdropDismiss]="true"
  (didDismiss)="onTransferPasswordSheetDismiss()"
  (didPresent)="onTransferPasswordModalPresent()"
>
  <ng-template>
    <div
      class="pwd-sheet"
      [class.pwd-sheet--shake]="pwdSheetShake"
      [class.pwd-sheet--busy]="transferPasswordVerifying"
    >
      <button
        type="button"
        class="pwd-sheet-back tap-highlight-none"
        (click)="closeTransferPasswordSheet()"
        aria-label="Voltar"
      >
        <img
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/CaretLeft-dfe7531e-80eb-4668-aa39-5254c3aa8401.svg"
          alt=""
        />
      </button>
      <h2 class="pwd-sheet-title">Digite sua senha de transferência</h2>
      <p class="pwd-sheet-sub">
        Use a senha de 4 dígitos configurada para transferências na sua conta.
      </p>
      <div class="pwd-dots" (click)="transferPwdInput?.focus()">
        <span
          *ngFor="let i of transferPwdDots"
          class="pwd-dot"
          [class.pwd-dot--filled]="i < transferPassword.length"
        ></span>
      </div>
      <input
        #transferPwdInput
        class="pwd-hidden-input"
        type="password"
        inputmode="numeric"
        autocomplete="one-time-code"
        maxlength="4"
        [ngModel]="transferPassword"
        (ngModelChange)="onTransferPasswordInput($event)"
        [readonly]="transferPasswordVerifying"
        aria-label="Senha de transferência de 4 dígitos"
      />
      <button
        type="button"
        class="pwd-sheet-confirm tap-highlight-none"
        [disabled]="transferPasswordVerifying"
        (click)="confirmTransferPasswordTap()"
      >
        <ion-spinner *ngIf="transferPasswordVerifying" class="pwd-sheet-spinner" name="crescent"></ion-spinner>
        <span>{{ transferPasswordVerifying ? 'Validando…' : 'Confirmar' }}</span>
      </button>
    </div>
  </ng-template>
</ion-modal>

<ion-modal
  class="cp-report-sheet"
  [isOpen]="reportSheetOpen"
  [initialBreakpoint]="0.72"
  [breakpoints]="[0, 0.72, 0.9]"
  handle="true"
  [backdropDismiss]="true"
  (didDismiss)="reportSheetOpen = false"
>
  <ng-template>
    <div class="cp-report-inner">
      <h2 class="cp-report-title">Reportar transação</h2>
      <p class="cp-report-lead">Informe o motivo para darmos seguimento à solicitação.</p>

      <ion-item class="cp-report-select-item" lines="none">
        <ion-select
          label="Motivo"
          labelPlacement="stacked"
          interface="action-sheet"
          placeholder="Selecione"
          [(ngModel)]="reportMotivo"
          [disabled]="reportSubmitting"
        >
          <ion-select-option value="wrong_amount">Enviei o valor errado</ion-select-option>
          <ion-select-option value="wrong_person">Enviei para a pessoa errada</ion-select-option>
        </ion-select>
      </ion-item>

      <p class="cp-report-disclaimer">
        Encaminharemos sua solicitação ao banco parceiro, que realizará a abertura do processo junto ao Banco
        Central. Ressaltamos que não há garantia de recuperação do valor, pois o retorno depende da análise e
        decisão do Banco Central.
      </p>

      <div class="cp-report-actions">
        <button
          type="button"
          class="cp-report-btn cp-report-btn-outline tap-highlight-none"
          [disabled]="reportSubmitting"
          (click)="closeReportSheet()"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="cp-report-btn cp-report-btn-primary tap-highlight-none"
          [disabled]="reportSubmitting"
          (click)="submitReportTransaction()"
        >
          {{ reportSubmitting ? 'Enviando…' : 'Enviar' }}
        </button>
      </div>
    </div>
  </ng-template>
</ion-modal>
