<ion-content [fullscreen]="true" class="boleto-details-content" [forceOverscroll]="false">
  <div class="boleto-loading" *ngIf="detailLoading">
    <ion-spinner name="crescent" class="boleto-loading-spinner"></ion-spinner>
    <p class="boleto-loading-text">Consultando boleto…</p>
  </div>

  <div class="details-page" *ngIf="!detailLoading && barcodeDigits">
    <div class="sheet">
      <header class="sheet-toolbar">
        <button type="button" class="back-btn tap-highlight-none" (click)="goBack()" aria-label="Voltar">
          <img
            src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/CaretLeft-caecc404-5feb-4e60-bd4d-5e73fe6d94e6.svg"
            alt=""
          />
        </button>
        <h1>Detalhes do Pagamento</h1>
      </header>

      <div class="sheet-body">
        <p class="section-label">Registro</p>

        <div class="two-cols">
          <div class="field-block field-block-static">
            <span class="field-label">{{ paymentScheduleLabel }}</span>
            <span class="field-value">{{ paymentDateDisplay }}</span>
          </div>

          <div class="field-block field-block-static">
            <span class="field-label">{{ dueDateLabel }}</span>
            <span class="field-value">{{ dueDateDisplay }}</span>
          </div>
        </div>

        <div class="overdue-row" *ngIf="isOverdue">
          <span class="overdue-badge">Vencido</span>
        </div>

        <div class="amount-block">
          <div class="amount-row">
            <span class="currency">{{ amountCurrency }}</span>
            <span class="amount">{{ amountValue }}</span>
          </div>
          <p class="payee-short">{{ payeeShort }}</p>
          <img
            class="divider"
            src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Line249-77545449-db53-4dae-8ac1-b9481f0969a6.svg"
            alt=""
          />
        </div>

        <div class="barcode-block" *ngIf="identificationDisplay">
          <p class="field-label muted">Linha digitável / identificação</p>
          <p class="barcode-value">{{ identificationDisplay }}</p>
          <img
            class="divider"
            src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Line249-2a920a41-dc12-40a1-9bd1-8e5b010e9bfe.svg"
            alt=""
          />
        </div>

        <div class="barcode-block">
          <p class="field-label muted">Código de barras</p>
          <p class="barcode-value">{{ barcodeDisplay }}</p>
          <img
            class="divider"
            src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Line249-2a920a41-dc12-40a1-9bd1-8e5b010e9bfe.svg"
            alt=""
          />
        </div>

        <div class="beneficiary-block" *ngIf="beneficiaryCpfCnpj">
          <p class="field-label muted">CPF/CNPJ do beneficiário</p>
          <p class="beneficiary-name">{{ beneficiaryCpfCnpj }}</p>
          <img
            class="divider"
            src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Line249-64539993-1a5a-4504-a23b-7cd476ccf6a5.svg"
            alt=""
          />
        </div>

        <div class="beneficiary-block">
          <p class="field-label muted">{{ beneficiaryLabel }}</p>
          <p class="beneficiary-name">{{ beneficiaryName }}</p>
          <img
            class="divider"
            src="https://storage.googleapis.com/uxpilot-auth.appspot.com/PpDwGQ71w5RZv155vdRkzs78Kdu1/Line249-64539993-1a5a-4504-a23b-7cd476ccf6a5.svg"
            alt=""
          />
        </div>

        <button type="button" class="pay-btn tap-highlight-none" (click)="onPay()">PAGAR</button>
      </div>
    </div>
  </div>
</ion-content>
