<ion-content [fullscreen]="true" class="wdu-content">
  <div class="wdu-screen">
    <button type="button" class="wdu-back tap-highlight-none" (click)="goBack()" aria-label="Voltar">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </button>

    <header class="wdu-header">
      <h1>Conta digital</h1>
      <p class="wdu-message">
        No momento, não estamos realizando a abertura de novas contas. Por favor, deixe seus dados de contato para que
        possamos avisá-lo assim que novas oportunidades forem disponibilizadas.
      </p>
    </header>
  </div>
</ion-content>
